$breakpoint-grid: 1240px;
$breakpoint-laptopToTablet: 920px;
$breakpoint-tablet: 760px;
$breakpoint-tabletToMobile: 470px;
$breakpoint-mobile: 375px;

$color-black: #141414;
$color-gray: #F0F0F0;
$color-red: #FE4249;
$color-green: #0BB7B1;
