@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, p, ul, ol, table, dl, dd {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #141414;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
  border: none;
}

body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  color: #141414;
  overflow-x: hidden;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  padding: 20px 20px 0px 20px;
  box-sizing: border-box;
  justify-content: space-between;
  color: #fff;
  mix-blend-mode: exclusion;
  font-style: italic;
  z-index: 1000;
  font-weight: 300;
}
header h1 {
  font-size: 18px;
  text-decoration-line: underline;
  font-weight: 300;
  letter-spacing: -1px;
}
header nav ul li a {
  color: #fff;
  text-align: right;
}
header nav ul li a.active, header nav ul li a:hover {
  text-decoration-line: underline;
}

footer {
  overflow-x: hidden;
  font-size: 1em;
  background-color: #141414;
  height: auto;
  color: #F0F0F0;
}
footer .inner {
  margin: 0 auto;
  max-width: 1240px;
  height: 100%;
  box-sizing: border-box;
  color: #F0F0F0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
}
footer .inner a {
  color: #F0F0F0;
}
footer .inner .top {
  margin-top: 10vh;
}
footer .inner .top .title {
  transform: translateY(-50px);
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
}
footer .inner .top .title h2 {
  position: relative;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 9.375vw;
  font-family: "Libre Caslon Display";
  font-weight: 400;
}
footer .inner .top .title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0.5208vw;
  transform: translateX(-50%);
  width: 110%;
  height: 2px;
  background-color: #F0F0F0;
}
footer .inner .top .title h2::after {
  content: "✺";
  position: absolute;
  font-size: 4.1667vw;
  font-weight: 400;
  right: -4.1667vw;
  top: -1.5625vw;
}
@media only screen and (max-width: 760px) {
  footer .inner .top .title h2 {
    font-size: 4.453125em;
  }
  footer .inner .top .title h2::before {
    bottom: 0.24738rem;
  }
  footer .inner .top .title h2::after {
    font-size: 1.97918125rem;
    right: -1.97918125rem;
    top: -0.7421875rem;
  }
}
footer .inner .top .link {
  transform: translateY(-50px);
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
  transition-delay: 0.5s;
  margin-top: 60px;
}
footer .inner .top .link ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer .inner .top .link ul li {
  position: relative;
}
footer .inner .top .link ul li a {
  font-size: 1.5625em;
  font-style: italic;
  font-weight: 200;
}
footer .inner .top .link ul li::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
  background-color: #F0F0F0;
  border-radius: 100%;
}
footer .inner .top .link ul li:last-child::after {
  display: none;
}
footer .inner .top .link .github {
  display: block;
  margin-top: 30px;
}
footer .inner .bottom {
  transform: translateX(50px);
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
  transition-delay: 1s;
  text-align: right;
  margin-bottom: 2vh;
  font-size: 14px;
  font-weight: 300;
  word-break: keep-all;
}
@media only screen and (max-width: 1240px) {
  footer .inner {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 470px) {
  footer {
    font-size: 0.75em;
  }
}
@media only screen and (max-width: 370px) {
  footer {
    font-size: 0.6em;
  }
}
footer.active .inner .top .title, footer.active .inner .top .link {
  transform: translateY(0px);
  opacity: 1;
}
footer.active .inner .bottom {
  transform: translateX(0px);
  opacity: 1;
}

body {
  overflow-x: hidden;
}

body, a {
  cursor: none;
}

body.mobile, body.mobile a {
  cursor: auto;
}

.mouse_cursor {
  position: absolute;
  z-index: 1000;
  width: 20px;
  height: 20px;
  background-color: #0BB7B1;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  mix-blend-mode: exclusion;
}
.mouse_cursor.active {
  width: 500px;
  height: 354px;
  transform: translate(-50%, -50%);
  background: url(../images/cursor_arrow.svg) no-repeat center;
  background-size: contain;
}
@media only screen and (max-width: 760px) {
  .mouse_cursor.active {
    width: 330px;
    height: 240px;
  }
}

section h2 {
  font-size: 4em;
}

#sec1 {
  font-size: 1em;
  background-color: #F0F0F0;
  height: 100vh;
}
#sec1 .inner {
  margin: 0 auto;
  max-width: 1240px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
#sec1 .inner .title_area {
  width: -moz-fit-content;
  width: fit-content;
}
#sec1 .inner .title_area .title {
  margin-top: 25vh;
}
#sec1 .inner .title_area .title h2 {
  font-family: "Libre Caslon Display";
  font-size: 6.25vw;
  font-weight: 400;
  letter-spacing: -6px;
}
#sec1 .inner .title_area .title h2.top {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  transform: translateY(-50px);
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
}
#sec1 .inner .title_area .title h2.top span {
  position: absolute;
  width: 5vw;
  height: 5vw;
  line-height: 5vw;
  top: 50%;
  font-family: "Roboto";
  animation: rotate 10s infinite linear;
}
@keyframes rotate {
  from {
    transform: translate(20%, -50%) rotate(0);
  }
  to {
    transform: translate(20%, -50%) rotate(360deg);
  }
}
@media only screen and (max-width: 920px) {
  #sec1 .inner .title_area .title h2.top span {
    width: 57.5px;
    height: 57.5px;
    line-height: 57.5px;
  }
}
@media only screen and (max-width: 760px) {
  #sec1 .inner .title_area .title h2.top span {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 470px) {
  #sec1 .inner .title_area .title h2.top span {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}
#sec1 .inner .title_area .title h2.bottom {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  white-space: nowrap;
  transform: translateX(-50px);
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
  transition-delay: 0.5s;
}
#sec1 .inner .title_area .title h2.bottom::before {
  content: "";
  position: absolute;
  right: -2%;
  top: 15%;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #FE4249;
  transition: 0.3s;
}
@media only screen and (max-width: 1240px) {
  #sec1 .inner .title_area .title h2.bottom::before {
    right: -3%;
    transform: scale(0.8);
  }
}
@media only screen and (max-width: 920px) {
  #sec1 .inner .title_area .title h2.bottom::before {
    right: -4%;
    transform: scale(0.7);
  }
}
@media only screen and (max-width: 760px) {
  #sec1 .inner .title_area .title h2.bottom::before {
    transform: scale(0.6);
  }
}
@media only screen and (max-width: 470px) {
  #sec1 .inner .title_area .title h2.bottom::before {
    transform: scale(0.5);
  }
}
@media only screen and (max-width: 370px) {
  #sec1 .inner .title_area .title h2.bottom::before {
    transform: scale(0.4);
  }
}
@media only screen and (max-width: 920px) {
  #sec1 .inner .title_area .title h2 {
    font-size: 57.5px;
  }
}
@media only screen and (max-width: 760px) {
  #sec1 .inner .title_area .title h2 {
    font-size: 45px;
    letter-spacing: -3px;
  }
}
@media only screen and (max-width: 470px) {
  #sec1 .inner .title_area .title h2 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 370px) {
  #sec1 .inner .title_area .title h2 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 280px) {
  #sec1 .inner .title_area .title h2 {
    font-size: 25px;
  }
}
#sec1 .inner .title_area .desc {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 20px;
  transform: translateX(-50px);
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
  transition-delay: 1s;
}
#sec1 .inner .title_area .desc span {
  font-size: 1.25vw;
  font-weight: 300;
}
@media only screen and (max-width: 1240px) {
  #sec1 .inner .title_area .desc span {
    font-size: 15.5px;
    font-weight: 400;
  }
}
@media only screen and (max-width: 470px) {
  #sec1 .inner .title_area .desc span {
    white-space: wrap;
    word-break: keep-all;
  }
}
#sec1 .inner .title_area .desc span strong {
  font-weight: 600;
}
#sec1 .inner .title_area .desc::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #141414;
}
@media only screen and (max-width: 470px) {
  #sec1 .inner .title_area .desc::before {
    display: none;
  }
}
#sec1 .inner .scroll {
  display: flex;
  height: 30%;
  align-items: flex-end;
  gap: 20px;
  margin-bottom: 3.125em;
}
#sec1 .inner .scroll .scroll_area {
  height: 100%;
}
#sec1 .inner .scroll .scroll_area .container {
  position: relative;
  width: 8px;
  height: 100%;
  background-color: #fff;
  border: solid 1px #141414;
  border-radius: 5px;
}
#sec1 .inner .scroll .scroll_area .container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-color: #141414;
  border-radius: 5px;
  animation: scroll-bar-moving 2.5s infinite ease-in-out;
}
@keyframes scroll-bar-moving {
  from {
    opacity: 1;
    transform: translateY(-100%);
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(0%);
  }
}
#sec1 .inner .scroll .text_area p {
  font-size: 2vh;
  font-style: normal;
  font-weight: 300;
  line-height: 180%;
}
#sec1 .inner .scroll .text_area p.bold {
  font-weight: 500;
}
@media only screen and (max-width: 920px) {
  #sec1 .inner .scroll .text_area p {
    font-weight: 400;
  }
  #sec1 .inner .scroll .text_area p.bold {
    font-weight: 600;
  }
}
@media only screen and (max-width: 1240px) {
  #sec1 .inner {
    padding: 0 20px;
  }
}
#sec1.active .inner .title_area .title h2.top {
  transform: translateY(0px);
  opacity: 1;
}
#sec1.active .inner .title_area .title h2.bottom, #sec1.active .inner .title_area .desc {
  transform: translateX(0px);
  opacity: 1;
}

#sec2 {
  font-size: 1em;
  background-color: #141414;
  height: 100vh;
  color: #F0F0F0;
}
#sec2 .inner {
  margin: 0 auto;
  max-width: 1240px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
#sec2 .inner h2.title {
  font-family: "Libre Caslon Display";
  font-weight: 400;
  transform: translateY(-50px);
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 20px;
}
#sec2 .inner h2.title::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #F0F0F0;
}
@media only screen and (max-width: 470px) {
  #sec2 .inner h2.title::after {
    display: none;
  }
}
@media only screen and (max-width: 470px) {
  #sec2 .inner h2.title {
    justify-content: center;
  }
}
#sec2 .inner .desc {
  transform: translateY(-50px);
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
  transition-delay: 0.5s;
}
#sec2 .inner .desc p {
  font-size: 1.125em;
  font-weight: 200;
  word-break: keep-all;
}
#sec2 .inner .desc p strong {
  font-weight: 500;
}
@media only screen and (max-width: 920px) {
  #sec2 .inner .desc p {
    text-align: center;
  }
}
#sec2 .inner .contents {
  display: flex;
  justify-content: space-between;
  transform: translateY(-50px);
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
  transition-delay: 0.5s;
}
#sec2 .inner .contents h3 {
  position: relative;
  font-size: 1.5625em;
  font-weight: 700;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
#sec2 .inner .contents h3::before {
  content: "";
  position: absolute;
  right: -15px;
  top: 0px;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #0BB7B1;
}
@media only screen and (max-width: 920px) {
  #sec2 .inner .contents h3 {
    margin: 0 auto;
  }
}
#sec2 .inner .contents ul {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  gap: 20px;
}
#sec2 .inner .contents ul li {
  display: flex;
  gap: 20px;
  align-items: center;
}
#sec2 .inner .contents ul li span {
  font-weight: 300;
}
#sec2 .inner .contents ul li .title {
  font-size: 1.125em;
  font-weight: 700;
}
@media only screen and (max-width: 920px) {
  #sec2 .inner .contents ul li {
    justify-content: center;
  }
}
@media only screen and (max-width: 470px) {
  #sec2 .inner .contents ul li {
    flex-direction: column;
  }
}
@media only screen and (max-width: 920px) {
  #sec2 .inner .contents {
    flex-direction: column;
    gap: 50px;
    align-items: center;
    text-align: center;
  }
  #sec2 .inner .contents li {
    justify-content: center;
  }
}
@media only screen and (max-width: 1240px) {
  #sec2 .inner {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 1240px) {
  #sec2 {
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 920px) {
  #sec2 {
    height: auto;
    padding: 4.375em 0;
    font-size: 0.8em;
  }
}
#sec2.active .inner h2.title, #sec2.active .inner .desc, #sec2.active .inner .contents {
  transform: translateY(0px);
  opacity: 1;
}

#sec3 {
  border-bottom: 1px solid #141414;
  font-size: 1em;
  background-color: #F0F0F0;
  height: auto;
}
#sec3 .inner {
  margin: 0 auto;
  max-width: 1240px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  gap: 100px;
  padding: 6.25em 0;
}
#sec3 .inner .title_area {
  position: sticky;
  top: 50px;
  width: 260px;
  align-self: flex-start;
  margin-top: 30px;
  transform: translateY(-50px);
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
}
#sec3 .inner .title_area .title {
  font-style: italic;
  font-weight: 500;
}
#sec3 .inner .title_area .title::after {
  content: "";
  position: absolute;
  top: 3%;
  transform: translateX(5px);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #FE4249;
}
@media only screen and (max-width: 760px) {
  #sec3 .inner .title_area .title {
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
  }
}
#sec3 .inner .title_area p {
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  word-break: keep-all;
}
@media only screen and (max-width: 760px) {
  #sec3 .inner .title_area {
    position: static;
    text-align: center;
    align-self: center;
  }
}
#sec3 .inner .contents {
  width: 100%;
}
#sec3 .inner .contents ol li {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 15px;
  padding: 30px 0 40px 0;
  counter-increment: skils;
  box-sizing: border-box;
}
#sec3 .inner .contents ol li:nth-child(2n-1) {
  transform: translateX(100px);
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
  transition-delay: 0.5s;
}
#sec3 .inner .contents ol li:nth-child(2n) {
  transform: translateX(-100px);
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
  transition-delay: 0.5s;
}
#sec3 .inner .contents ol li h3 {
  position: relative;
  font-family: "Libre Caslon Display";
  font-size: 4.6vw;
  font-weight: 400;
  letter-spacing: -2px;
  width: -moz-fit-content;
  width: fit-content;
}
#sec3 .inner .contents ol li h3::before {
  content: counter(skils, decimal-leading-zero);
  position: absolute;
  left: -30px;
  top: 0px;
  font-family: "Libre Caslon Display";
  font-size: 20px;
  font-weight: 400;
}
@media only screen and (max-width: 760px) {
  #sec3 .inner .contents ol li h3::before {
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
  }
}
@media only screen and (max-width: 920px) {
  #sec3 .inner .contents ol li h3 {
    font-size: 43.125px;
    text-align: center;
  }
}
@media only screen and (max-width: 470px) {
  #sec3 .inner .contents ol li h3 {
    font-size: 35px;
  }
}
#sec3 .inner .contents ol li .logos {
  display: flex;
  gap: 40px;
}
#sec3 .inner .contents ol li .logos img {
  height: 3vw;
}
@media only screen and (max-width: 920px) {
  #sec3 .inner .contents ol li .logos img {
    height: 34px;
  }
}
#sec3 .inner .contents ol li .logos span {
  font-size: 2.5em;
  font-style: italic;
  font-weight: 900;
}
@media only screen and (max-width: 920px) {
  #sec3 .inner .contents ol li .logos {
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    gap: 20px;
  }
}
@media only screen and (max-width: 760px) {
  #sec3 .inner .contents ol li .logos {
    align-items: center;
  }
}
#sec3 .inner .contents ol li p {
  word-break: keep-all;
  line-height: 180%;
  text-align: justify;
}
#sec3 .inner .contents ol li::after {
  content: "";
  position: absolute;
  left: -30px;
  bottom: 0;
  width: calc(100% + 30px);
  height: 1px;
  background-color: #141414;
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
  transition-delay: 1.5s;
}
@media only screen and (max-width: 760px) {
  #sec3 .inner .contents ol li::after {
    left: auto;
    width: 100%;
  }
}
#sec3 .inner .contents ol li:last-child::after {
  display: none;
}
@media only screen and (max-width: 760px) {
  #sec3 .inner .contents ol li {
    align-items: center;
    padding: 50px 0 40px 0;
    gap: 30px;
  }
}
@media only screen and (max-width: 760px) {
  #sec3 .inner {
    gap: 30px;
    flex-direction: column;
  }
}
@media only screen and (max-width: 1240px) {
  #sec3 .inner {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 1240px) {
  #sec3 {
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 920px) {
  #sec3 {
    font-size: 0.8em;
  }
}
#sec3.active .inner .title_area {
  transform: translateY(0px);
  opacity: 1;
}
#sec3.active .inner .contents ol li:nth-child(2n-1), #sec3.active .inner .contents ol li:nth-child(2n) {
  transform: translateX(0px);
  opacity: 1;
}
#sec3.active .inner .contents ol li::after {
  opacity: 1;
}

#sec4 {
  display: flex;
  font-size: 1em;
  background-color: #F0F0F0;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
  overflow: hidden;
}
#sec4 .title_area {
  align-self: flex-start;
}
#sec4 .title_area .top {
  display: flex;
}
#sec4 .title_area .top .text {
  position: relative;
  display: flex;
  gap: 30px;
  align-items: center;
  font-family: "Libre Caslon Display";
  font-size: 11.25em;
  letter-spacing: -9px;
}
#sec4 .title_area .top .text .symbol {
  font-size: 5rem;
  font-style: normal;
}
#sec4 .title_area .bottom {
  display: flex;
  margin-left: -50%;
}
#sec4 .title_area .bottom .text {
  position: relative;
  display: flex;
  gap: 30px;
  align-items: center;
  font-family: "Roboto";
  font-size: 11.25em;
  letter-spacing: -9px;
  font-style: italic;
  font-weight: 100;
}
#sec4 .title_area .bottom .text .symbol {
  font-size: 5rem;
  font-style: normal;
}
#sec4 .mouse {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(50px);
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
}
#sec4 .mouse .icon {
  position: relative;
  width: 35px;
  height: 50px;
  border: solid #141414 2px;
  border-radius: 35px;
}
#sec4 .mouse .icon::before {
  content: "";
  position: absolute;
  left: -30%;
  top: -30%;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: solid 2px #141414;
  transform: scale(0);
  animation: pop 2s ease infinite;
}
@keyframes pop {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
#sec4 .mouse .icon .wheel {
  position: absolute;
  left: 50%;
  top: 6px;
  width: 2px;
  height: 17px;
  border-radius: 2px;
  background-color: #141414;
}
#sec4 .mouse span {
  display: block;
  margin-top: 10px;
  font-size: 15px;
  letter-spacing: -0.75px;
}
@media only screen and (max-width: 760px) {
  #sec4 {
    font-size: 0.8em;
  }
}
#sec4.active .mouse {
  transform: translateY(0px);
  opacity: 1;
}