@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, p, ul, ol, table, dl, dd {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #141414;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
  border: none;
}

body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  color: #141414;
  overflow-x: hidden;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  padding: 20px 20px 0px 20px;
  box-sizing: border-box;
  justify-content: space-between;
  color: #fff;
  mix-blend-mode: exclusion;
  font-style: italic;
  z-index: 1000;
  font-weight: 300;
}
header h1 {
  font-size: 18px;
  text-decoration-line: underline;
  font-weight: 300;
  letter-spacing: -1px;
}
header nav ul li a {
  color: #fff;
  text-align: right;
}
header nav ul li a.active, header nav ul li a:hover {
  text-decoration-line: underline;
}

footer {
  overflow-x: hidden;
  font-size: 1em;
  background-color: #141414;
  height: auto;
  color: #F0F0F0;
}
footer .inner {
  margin: 0 auto;
  max-width: 1240px;
  height: 100%;
  box-sizing: border-box;
  color: #F0F0F0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
}
footer .inner a {
  color: #F0F0F0;
}
footer .inner .top {
  margin-top: 10vh;
}
footer .inner .top .title {
  transform: translateY(-50px);
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
}
footer .inner .top .title h2 {
  position: relative;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 9.375vw;
  font-family: "Libre Caslon Display";
  font-weight: 400;
}
footer .inner .top .title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0.5208vw;
  transform: translateX(-50%);
  width: 110%;
  height: 2px;
  background-color: #F0F0F0;
}
footer .inner .top .title h2::after {
  content: "✺";
  position: absolute;
  font-size: 4.1667vw;
  font-weight: 400;
  right: -4.1667vw;
  top: -1.5625vw;
}
@media only screen and (max-width: 760px) {
  footer .inner .top .title h2 {
    font-size: 4.453125em;
  }
  footer .inner .top .title h2::before {
    bottom: 0.24738rem;
  }
  footer .inner .top .title h2::after {
    font-size: 1.97918125rem;
    right: -1.97918125rem;
    top: -0.7421875rem;
  }
}
footer .inner .top .link {
  transform: translateY(-50px);
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
  transition-delay: 0.5s;
  margin-top: 60px;
}
footer .inner .top .link ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer .inner .top .link ul li {
  position: relative;
}
footer .inner .top .link ul li a {
  font-size: 1.5625em;
  font-style: italic;
  font-weight: 200;
}
footer .inner .top .link ul li::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
  background-color: #F0F0F0;
  border-radius: 100%;
}
footer .inner .top .link ul li:last-child::after {
  display: none;
}
footer .inner .top .link .github {
  display: block;
  margin-top: 30px;
}
footer .inner .bottom {
  transform: translateX(50px);
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
  transition-delay: 1s;
  text-align: right;
  margin-bottom: 2vh;
  font-size: 14px;
  font-weight: 300;
  word-break: keep-all;
}
@media only screen and (max-width: 1240px) {
  footer .inner {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 470px) {
  footer {
    font-size: 0.75em;
  }
}
@media only screen and (max-width: 370px) {
  footer {
    font-size: 0.6em;
  }
}
footer.active .inner .top .title, footer.active .inner .top .link {
  transform: translateY(0px);
  opacity: 1;
}
footer.active .inner .bottom {
  transform: translateX(0px);
  opacity: 1;
}

body {
  overflow-x: hidden;
}

body, a {
  cursor: none;
}

body.mobile, body.mobile a {
  cursor: auto;
}

.mouse_cursor {
  position: absolute;
  z-index: 1000;
  width: 20px;
  height: 20px;
  background-color: #0BB7B1;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  mix-blend-mode: exclusion;
}
.mouse_cursor.active {
  width: 500px;
  height: 354px;
  transform: translate(-50%, -50%);
  background: url(../images/cursor_arrow.svg) no-repeat center;
  background-size: contain;
}
@media only screen and (max-width: 760px) {
  .mouse_cursor.active {
    width: 330px;
    height: 240px;
  }
}

section h2 {
  font-size: 4em;
}

#sec1 {
  font-size: 1em;
  background-color: #F0F0F0;
  height: auto;
  border-bottom: solid 1px #141414;
}
#sec1 .inner {
  margin: 0 auto;
  max-width: 1240px;
  height: 100%;
  box-sizing: border-box;
}
#sec1 .inner .text_circle {
  padding-top: 152px;
  text-align: center;
}
#sec1 .inner .text_circle svg {
  width: 356px;
  height: 356px;
  animation: rotate 20s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
#sec1 .inner .text_circle svg text textPath {
  font-family: "Libre Caslon Display";
  font-size: 40px;
  fill: #000;
  letter-spacing: 0.12em;
}
@media only screen and (max-width: 470px) {
  #sec1 .inner .text_circle svg {
    width: 200px;
    height: 200px;
  }
}
#sec1 .inner .container {
  display: flex;
  gap: 100px;
  padding: 6.25em 0;
}
#sec1 .inner .container .title_area {
  position: sticky;
  top: 50px;
  width: 310px;
  align-self: flex-start;
  margin-top: 0;
  transform: translateY(-50px);
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
}
@media only screen and (max-width: 370px) {
  #sec1 .inner .container .title_area {
    width: 100%;
  }
}
#sec1 .inner .container .title_area .title {
  font-style: italic;
  font-weight: 500;
}
#sec1 .inner .container .title_area .title::after {
  content: "";
  position: absolute;
  top: 3%;
  transform: translateX(5px);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #FE4249;
}
@media only screen and (max-width: 920px) {
  #sec1 .inner .container .title_area .title {
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
  }
}
#sec1 .inner .container .title_area p {
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  word-break: keep-all;
}
@media only screen and (max-width: 920px) {
  #sec1 .inner .container .title_area {
    position: static;
    text-align: center;
    align-self: center;
  }
}
@media only screen and (max-width: 920px) {
  #sec1 .inner .container {
    gap: 30px;
    flex-direction: column;
  }
}
#sec1 .inner .container .contents {
  width: 100%;
}
#sec1 .inner .container .contents > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#sec1 .inner .container .contents > ul > li {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 36px;
}
#sec1 .inner .container .contents > ul > li:nth-child(2n-1) {
  transform: translateX(100px);
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
  transition-delay: 0.5s;
}
#sec1 .inner .container .contents > ul > li:nth-child(2n) {
  transform: translateX(-100px);
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
  transition-delay: 0.5s;
}
#sec1 .inner .container .contents > ul > li h3 {
  font-size: 2.25em;
  font-weight: 700;
  word-break: keep-all;
}
#sec1 .inner .container .contents > ul > li ul {
  display: flex;
  flex-direction: column;
}
#sec1 .inner .container .contents > ul > li ul li {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px 0;
  font-size: 16px;
}
#sec1 .inner .container .contents > ul > li ul li span {
  font-size: 18px;
}
#sec1 .inner .container .contents > ul > li ul li span.title {
  font-weight: 700;
  line-height: 150%;
}
#sec1 .inner .container .contents > ul > li .bottons {
  display: flex;
  gap: 25px;
}
#sec1 .inner .container .contents > ul > li .bottons .button {
  display: inline-block;
  width: 100%;
  font-size: 20px;
  font-weight: 300;
  padding: 10px 30px;
  box-sizing: border-box;
  border: 1px solid #141414;
  border-radius: 25px;
  background: url(../images/icon_arrow_black.svg) no-repeat right 30px center;
  transition: 0.3s;
}
#sec1 .inner .container .contents > ul > li .bottons .button:hover {
  background-color: #141414;
  color: #F0F0F0;
  background-image: url(../images/icon_arrow_white.svg);
}
@media only screen and (max-width: 470px) {
  #sec1 .inner .container .contents > ul > li .bottons {
    flex-direction: column;
    gap: 10px;
  }
}
#sec1 .inner .container .contents > ul > li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #141414;
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
  transition-delay: 1.5s;
}
@media only screen and (max-width: 760px) {
  #sec1 .inner .container .contents > ul > li::after {
    left: auto;
    width: 100%;
  }
}
#sec1 .inner .container .contents > ul > li:last-child::after {
  display: none;
}
@media only screen and (max-width: 920px) {
  #sec1 .inner .container {
    padding: 3em 0;
  }
}
@media only screen and (max-width: 1240px) {
  #sec1 .inner {
    padding: 0 20px;
  }
}
#sec1.active .inner .title_area {
  transform: translateY(0px);
  opacity: 1;
}
#sec1.active .inner .contents > ul > li:nth-child(2n-1), #sec1.active .inner .contents > ul > li:nth-child(2n) {
  transform: translateX(0px);
  opacity: 1;
}
#sec1.active .inner .contents > ul > li::after {
  opacity: 1;
}
@media only screen and (max-width: 1240px) {
  #sec1 {
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 920px) {
  #sec1 {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 370px) {
  #sec1 {
    font-size: 0.7em;
  }
}

#sec2 {
  font-size: 1em;
  background-color: #F0F0F0;
  height: auto;
}
#sec2 .inner {
  margin: 0 auto;
  max-width: 1240px;
  height: 100%;
  box-sizing: border-box;
}
#sec2 .inner > .top {
  padding: 40px 0;
}
#sec2 .inner > .top h2.title {
  font-family: "Libre Caslon Display";
  font-weight: 400;
  transform: translateY(-50px);
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 20px;
}
#sec2 .inner > .top h2.title::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #141414;
}
@media only screen and (max-width: 470px) {
  #sec2 .inner > .top h2.title::after {
    display: none;
  }
}
@media only screen and (max-width: 470px) {
  #sec2 .inner > .top h2.title {
    justify-content: center;
  }
}
#sec2 .inner > .top .swiper-container {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translateY(-50px);
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
  transition-delay: 0.5s;
}
#sec2 .inner > .top .swiper-container .swiper-wrapper {
  margin-bottom: 40px;
}
#sec2 .inner > .top .swiper-container .swiper-wrapper .swiper-slide {
  background-color: #fff;
  border: solid 1px #141414;
  box-sizing: border-box;
  height: auto;
}
#sec2 .inner > .top .swiper-container .swiper-wrapper .swiper-slide a {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#sec2 .inner > .top .swiper-container .swiper-wrapper .swiper-slide a .thumb img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: solid 1px #141414;
}
#sec2 .inner > .top .swiper-container .swiper-wrapper .swiper-slide a .desc {
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  box-sizing: border-box;
}
#sec2 .inner > .top .swiper-container .swiper-wrapper .swiper-slide a .desc h3 {
  font-size: 18px;
  word-break: keep-all;
}
#sec2 .inner > .top .swiper-container .swiper-wrapper .swiper-slide a .desc ul {
  display: flex;
  flex-direction: column;
}
#sec2 .inner > .top .swiper-container .swiper-wrapper .swiper-slide a .desc ul li {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0 0;
  font-size: 16px;
}
#sec2 .inner > .top .swiper-container .swiper-wrapper .swiper-slide a .desc ul li span {
  font-size: 18px;
}
#sec2 .inner > .top .swiper-container .swiper-wrapper .swiper-slide a .desc ul li span.title {
  font-weight: 700;
  line-height: 150%;
}
#sec2 .inner > .top .swiper-container .swiper-horizontal > .swiper-pagination-progressbar, #sec2 .inner > .top .swiper-container .swiper-pagination-progressbar.swiper-pagination-horizontal, #sec2 .inner > .top .swiper-container .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, #sec2 .inner > .top .swiper-container .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 25%;
  height: 10px;
  top: auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: solid 1px #141414;
  border-radius: 10px;
  box-sizing: border-box;
}
@media only screen and (max-width: 920px) {
  #sec2 .inner > .top .swiper-container .swiper-horizontal > .swiper-pagination-progressbar, #sec2 .inner > .top .swiper-container .swiper-pagination-progressbar.swiper-pagination-horizontal, #sec2 .inner > .top .swiper-container .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, #sec2 .inner > .top .swiper-container .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 100%;
  }
}
#sec2 .inner > .top .swiper-container .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #141414;
  border-radius: 4px;
}
@media only screen and (max-width: 1240px) {
  #sec2 .inner {
    padding: 0 20px;
  }
}
#sec2 .bottom {
  padding: 40px 0;
  text-align: center;
}
#sec2 .bottom h2.title {
  font-family: "Libre Caslon Display";
  font-weight: 400;
  transform: translateY(-50px);
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 20px;
}
#sec2 .bottom h2.title::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #141414;
}
@media only screen and (max-width: 470px) {
  #sec2 .bottom h2.title::after {
    display: none;
  }
}
@media only screen and (max-width: 470px) {
  #sec2 .bottom h2.title {
    justify-content: center;
  }
}
#sec2 .bottom .contents {
  margin-top: 30px;
  transform: translateY(-50px);
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
  transition-delay: 0.5s;
}
#sec2 .bottom .contents ul li {
  border-bottom: 1px solid #141414;
}
#sec2 .bottom .contents ul li a {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px 15px 0px;
  font-size: 18px;
  text-align: left;
}
#sec2 .bottom .contents ul li a .title {
  position: relative;
  padding-left: 30px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
  word-break: keep-all;
}
#sec2 .bottom .contents ul li a .title::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  background-color: #FE4249;
  border-radius: 100%;
}
@media only screen and (max-width: 470px) {
  #sec2 .bottom .contents ul li a .date {
    display: none;
  }
}
#sec2 .bottom .contents .more {
  display: inline-block;
  position: relative;
  margin-top: 30px;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
}
#sec2 .bottom .contents .more::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  width: 110%;
  height: 1px;
  background-color: #141414;
}
#sec2.active .inner h2.title, #sec2.active .inner .top .swiper-container, #sec2.active .inner .bottom .contents {
  transform: translateY(0px);
  opacity: 1;
}
@media only screen and (max-width: 1240px) {
  #sec2 {
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 920px) {
  #sec2 {
    height: auto;
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 370px) {
  #sec2 {
    font-size: 0.7em;
  }
}